body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#registrosList {
    list-style-type: none;
    padding: 0;
}

#registrosList li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}


